@import "../../../../styles/variables.scss";

.root {
    margin-top: 16px;
}

.messageAndForm {
    text-align: center;
}

.welcomeMessage {
    font-size: 1.4vw;
}

.gistsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;

    :global(.gist-card) {
        flex-basis: 300px;
        width: 300px;
    }
}